include AUTHORS
include ChangeLog
include designate_ext_instance_fqdn_handler/versioninfo
include *.txt *.ini *.cfg *.rst *.md

exclude .gitignore
exclude .gitreview
exclude *.sublime-project

global-exclude *.pyc

